body{
    background:linear-gradient(120deg,rgb(234, 234, 236),rgb(247, 238, 215));

}

body {
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


form {
    animation: fadeInAnimation ease 2.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
  
.messages{
    font-family: 'Montserrat';
    color: #af2732;
    font-weight: 600;
    list-style-type: none;
    padding: unset;
} 
.text{
    display: none;
}
small{
    font-family: 'Montserrat';
}


@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

a{
    position: relative;
    top:3vh;
    left:4vh;
    text-decoration: none;
    color: rgb(122, 121, 121);
    font-family: 'Archivo';
    font-size: larger;
}



.head h1:hover{
    text-shadow: 0 0 3px #dadada , 0 0 5px #af2732;
    transition: .5s;
}










form .form-control{
    position: relative;
    margin: 1vh 0;
    width: 100%;
    padding: 0.2vh 0.2vw 1vh 0.2vw;
    border: none;
    border-bottom: 2px solid brown;
    background: none;
    outline: none;
    font-family: 'Montserrat';
    font-weight: 600;
    color: #373737;
    font-size: 1.15em;
}

form .form-control:focus{
    border-color: brown;
    transition: .5s;

}

.form-control input{
   
    background:none;
}

.form-control-label {
    font-family:'Montserrat';
    font-size:1.2em;
    font-weight: 600;
    letter-spacing: 1px;
    color: brown    ;
}



.btn:hover{
    background: brown;
    color: white;
    transition: .6s;
}

.form-group i{
    position:absolute;
    top:40px;
    right:10px;
}

.register a:hover{
    color: brown;
}

@media screen and (min-width:920px ) {

    .register a {
        position: relative;
        left:6%;
        font-size: medium;
        font-family: 'Cascadia Mono';
    }
    
    .btn{
        background: none;
        padding: 2px 1px;
        font-family: 'Montserrat';
        color: brown;
        font-weight: bold;
        font-size: 1em;
        width: 6vw;
        height: 4vh;
        border:2px solid;
        border-radius: .7em;
        border-color: brown;
    }
    form{
        box-sizing: border-box;
        position: relative;
        left: 62%;
        margin-top: 14vh;
        width: 21vw;
        background: rgb(237 215 215 / 23%);
        border-radius: 1.2em;
        padding: 5%;
        bottom: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    
    .form-group {
    position: relative;
    margin-bottom: 40px;
    outline: 0px;
    
    }

    body .head{
        position: absolute;
        align-self: center;
        margin: 17vh 12vw;
        left: 4vw; 
        width: 20vw;
        color: brown;
        height: 30vh;
    
    }
    
    .head h1{
        position: relative;
        font-size: 8em;
        font-family: 'Aleo';
        text-shadow: 0 0 #a09f9f;
        
    }
    .head label{
        position: relative;
        top: 40%;
        font-family: 'Montserrat';
        font-size: 1.5em;
    }
    
    
}

@media screen and (max-width:1000px) {
    form .form-control{
        font-size: 1.5em;
    }
    .register a {
        position: relative;
        top: 1vh;
        left: 2%;
        /* text-align: center; */
        font-size: medium;
        font-family: 'Cascadia Mono';
    }

    .form-group {
        position: relative;
        margin-bottom: 40px;
        outline: 0px;
        width: 100%;
    }

    form {
        box-sizing: border-box;
        position: relative;
        left: 25vw;
        /* margin-top: 0%; */
        width: 49vw;
        background: rgb(237 215 215 / 23%);
        border-radius: 1.2em;
        padding: 5%;
        top: 10vh;
        /* bottom: 60%; */
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    body .head {
        position: relative;
        /* align-self: center; */
        /* margin-right: 0; */
        margin: 2vh;
        margin: 1vh 1vw;
        left: 25vw;
        top: 9vh;
        width: 20vw;
        color: brown;
        height: fit-content;
    }

    .head label {
        position: absolute;
        top: 7%;
        font-family: 'Montserrat';
        font-size: 1.5em;
    }
    .head h1 {
        position: relative;
        margin: 0;
        font-size: 8em;
        font-family: 'Aleo';
        text-shadow: 0 0 #a09f9f;
    }
    .btn {
        background: none;
        padding: 2px 1px;
        font-family: 'Montserrat';
        color: brown;
        font-weight: bold;
        font-size: 1em;
        width: 13vw;
        height: 3vh;
        border: 2px solid;
        border-radius: 0.7em;
        border-color: brown;
    }
    
}



