* {
    margin: 0;
    box-sizing: border-box;
    vertical-align: top;
    
}

@font-face {
    font-family: Satoshi Bold;
    src: url(Satoshi-Bold.otf);
}
@font-face {
    font-family: Satoshi;
    src: url(Satoshi-Medium.otf);
}
body {
    align-items: center;
    justify-content: center;
    overflow-X: hidden;
    width: 100vw;
    background: #f6f8ff;
}
body {
    animation: fadeInAnimation ease 0.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

::-webkit-scrollbar {
    width: 0.4vw;
  }
  
::-webkit-scrollbar-track {
    background-color: rgb(225, 225, 225);
    border-radius: 50px;
  }
  
::-webkit-scrollbar-thumb {
    background-color: #bcbcbc;
    border-radius: 100px;
  }
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
.hatespeech {
    position: absolute;
    display: block;
    opacity: 0;
    margin: 6px 21px;
    transition: all ease-in-out 0.2s;
    /* background: #f3f3f3bd; */
    color: #b80707;
    /* padding: 1px 8px; */
}
.comments {
    margin-top: 20px;
}
#off-msg {
    position: fixed;
    /* left: 124vh; */
    bottom: 8vh;
    background: #9900003d;
    font-family: Satoshi;
    font-weight: normal;
    padding: 15px 28px;
    font-size: large;
    border-radius: 11px;
    right: 3vw;
    z-index: 10;
    display: block;
    opacity: 0;
    width: 20vw;
    transition: all ease-in-out 0.5s;
}
i.fa.fa-comments {
    scale: 2.3;
    transition: all 0.3s;
}
i.fa.fa-comments:hover {
    scale: 2.6;
}

.topic .comments-btn {
    /*font-size: 1.1em;*/
    position: absolute;
    /* margin-top: 1.3vh; */
    /* left: 31.5vw; */
    /* width: 7vw; */
    background: none;
    /*font-family: 'Satoshi';*/
    color: #616977;
}

.comment-send{
    display: flex;
    flex-direction: row;
}



@media screen and (min-width: 920px) {


    .nav {
        display: flex;
        font-family: Satoshi;
        flex-direction: column;
        position: fixed;
        background-color: #171a1f;
        width: 4%;
        height: 100vh;
        overflow: hidden;
        z-index: 14;
    }

    
    .nav a {
        float: left;
        color: #d0dcff;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 1.75vw;
    }
    
    .nav a:hover {
        background-color: rgb(255, 255, 255);
        color: black;
    }
    
    .nav a.active {
        background-color: black;
        color: white;
    }
    
    .logo {
        font-size: 1.5em;
        color: #d0dcff;
        font-weight: bolder;
        font-family: Satoshi Bold;
    }
    
    .categories {
        font-size: 1em;
        font-family: Satoshi;
        padding-top: 0.4%;
    }
    
    .nav input[type="text"] {
        border: none;
        background: rgb(255, 255, 255, 0.8);
        outline: none;
        height: 30px;
        width: 250px;
        color: rgb(255, 6, 6);
        font-size: 16px;
        font-weight: 500;
        transition: 0.5s;
        right: 10%;
        display: block;
        margin-left: auto;
        border-radius: 1em;
        margin-top: 10px;
        cursor: text;
        margin-right: 2%;
    }
    
    .nav input[type="text"]:focus {
        width: 400px;
        border-radius: yellow;
    }
    
    .topic-box{
        display: flex;
        flex-direction: column;
        position: relative;
        left: 25vw;
        width: 43vw;
        height: 100vh;
        background: #eef2ff;
        border: solid 1.5px #9aa0b0;
        font-family: Satoshi;
    }

    .topic{
        display: flex;
        flex-direction: column;
        background: #ffffff;
        height: 100%;
        width: 100%;
        border: solid 1.5px #43558a;
        padding:2vw;
        content-visibility: auto;
    }

    .topic.full {
        border: none;
        padding: 0.3vw;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .topic.topic-full {
        /* top: 7vh; */
        font-size: 0.9em;
        margin-top: 80vh;
        left: 47%;
        transform: translate(-50%,-82%) scale(0);
        border: none;
        height: 94vh;
        position: fixed;
        width: 37vw;
        border-radius: 0.5vw;
        z-index: 10;
    }

    .topic.topic-full.active{
        transform: translate(-50%,-82%) scale(1);
    }

    
    #overlay{
        position: fixed;
        display: none;
        opacity: 0;
        top:0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.1);
        transition: all 3s ease-in-out;
    }

    #overlay.active{
        transition: all 0.8s ease-in-out;
        display: block;
        opacity: 1;
        pointer-events: all;
    }
    .topic p.tag {
        font-size: 1em;
    }

    .topic h1{
        font-size: 1.75em;
        font-family: Satoshi;
        font-weight: bold;
    }

    .topic img{
        height: 50%;
        max-height: 29vh;
        width: 85%;
        object-fit: cover;
        margin-top: 1.5vh;
        border-radius: .4vw;
    }
    .close-btn {
        position: absolute;
        /* width: 3vw; */
        /* height: 3vw; */
        top: vh;
        font-size: 1.8em;
        z-index: 25;
        color: black;
        left: 85%;
        background: none;
        border: none;
        font-weight: bold;
        border-radius: 20vw;
    }
    .topic p {
        font-size: 1.4em;
        margin-top: .8vh;
        font-weight: normal;
        font-family: 'Satoshi';
        color: #616977;
    }
    /*.topic .comments-btn {
        font-size: 1.1em;
        position: absolute;
        margin-top: 1.3vh;
        left: 31.5vw;
        width: 7vw;
        background: none;
        font-family: 'Satoshi';
        color: #616977;
    }*/

    .poll{
        display: flex;
        flex-direction: column;
    }
    
    .poll button {
        margin: 0.5vw 0.8vh;
        border: none;
        color: #dee4f5;
        border-radius: 0.7vw;
        padding: .8vh .8vw 0.8vw;
        width: fit-content;
        height: 4vh;
        font-family: Satoshi;
        font-size: 1em;
        transition:  .3s ease-in-out; 
    }

    

    .poll button:hover{
        scale:1.04;
    }

    .result {
        display: flex;
        width: 25vw;
        position: relative;
        margin-top: 2%;
        /* top: 87%; */
    }

    .btn-1{
        background: #171a1f;
    }
    .btn-2{
        background: #5773c4;
    }

    .btn-3 {
        background: #073f85;
    }

    span.stat {
        width: 10vw;
        height: 1vh;
        transition:all .9s;
    }
    

    .topic-full{
        position: absolute;
        
    }

    .comment-section{
        position: relative;
        width: 90%;
        height: fit-content;
        margin-top: 1vh;
        border-radius: 1em;
        display: flex;
        flex-direction: column;
    }
    
    .comment-section a{
        text-decoration: none;
        color:#0c111b
    }

    .comment{
        position: relative;
        background: #F0F2F5;
        max-width:fit-content;
        width:82%;
        max-height: fit-content;
        border-radius: 1em;
        margin:1vh;
        text-align: left;
        padding: .7em 1.2em;
        font-family: 'Montserrat';
        font-weight: 400;
        font-size:small;
        transition: all .5s;
    }

    .comment p{
        color:#0c111b;
        font-size: 1.2em;
        font-family: 'Montserrat';
        font-weight: lighter;
    }

    .comments-input {
        display: block;
        position: relative;
        left: 1%;
        top: 2%;
        width: 100%;
        height: fit-content;
    }

    .comments-input textarea{
        display: block;
        position: relative;
        width: 90%;
        resize: none;
        background: #c9d4eb;
       
        border: 2px solid transparent;
        border-radius: 1.1em;
        outline: none;
        height: fit-content;
        font-family: 'Montserrat';
        font-weight: lighter;
        overflow: hidden;
        padding: 1em;
        font-size: 1.2em;
        line-height: 1.2;
    }
    
    .comments-input textarea:focus{
        transition: all 0.5s ease-in-out;
        background: rgb(243 243 243);
    }

    .post{
        position: relative;
        top: 3%;
        left: 7px;
        height: 2em;
        width: 13%;
        background: #0c111b;
        border: none;
        border-radius: 0.75em;
        font-size: 1.1em;
        font-family: 'Cascadia Mono';
        font-weight: bold;
        color: aliceblue;
    }

    .title {
        color: #900;
        font-weight: bolder;
        font-family: 'Aleo';
        margin: 3vh;
        font-weight: 700;
        text-shadow: #1D212B;
        font-size: 2em;
    }
    
    .topic-list {
        width: 100%;
        height: 220px;
        position: relative;
        margin: 10px 0 20px 10px;
    }
    
   
    
    .name {
        color: #f5f5f5;
        font-family: 'Archivo';
        font-size: 1.1em;
        font-weight: 600;
        text-transform: capitalize;
        /* margin-top: 60%; */
    }
    
    .des {
        color: #fff;
        opacity: 0.8;
        margin: 5px 0;
        font-weight: 500;
        font-size: 12px;
    }
    
    .readmore-btn {
        position: relative;
        width: 100%;
        text-transform: capitalize;
        background: none;
        border: none;
        text-decoration: none;
        font-weight: 500;
        text-align: center;
        color: rgba(255, 255, 255, 0.5);
        margin: 5px 0;
        cursor: pointer;
        padding: 10px 5px;
        border-radius: 5px;
    }
    
    .readmore-btn::before {
        content: "";
        position: absolute;
        top: 0;
        left: -5px;
        height: 35px;
        width: 35px;
        background-size: cover;
        transform: scale(0.4);
    }
    
    .readmore-btn:hover {
        color: #fff;
        background: rgba(255, 255, 255, 0.1);
    }
    
    .pre-btn,
    .nxt-btn {
        position: absolute;
        top: 0;
        width: 5%;
        height: 100%;
        z-index: 2;
        border: none;
        cursor: pointer;
        outline: none;
    }
    
    .pre-btn {
        left: 0;
        background: linear-gradient(to right, #0c111b 0%, #0c111b00);
    }
    
    .nxt-btn {
        right: 0;
        background: linear-gradient(to left, #0c111b 0%, #0c111b00);
    }
    
    .pre-btn img,
    .nxt-btn img {
        width: 15px;
        height: 20px;
        opacity: 0;
    }
    
    .pre-btn:hover img,
    .nxt-btn:hover img {
        opacity: 1;
    }
    
    .title {
        color: #bd0a0a;
        font-weight: bolder;
        text-shadow: #1D212B;
        font-size: 27px;
    }
    
    .prev-btn,
    .next-btn {
        position: absolute;
        top: 0;
        width: 5%;
        height: 100%;
        z-index: 2;
        border: none;
        cursor: pointer;
        outline: none;
    }
    
    .prev-btn {
        left: 0;
        background: linear-gradient(to right, #0c111b 0%, #0c111b00);
    }
    
    .next-btn {
        right: 0;
        background: linear-gradient(to left, #0c111b 0%, #0c111b00);
    }
    
    .prev-btn img,
    .next-btn img {
        width: 20px;
        height: 35px;
        opacity: 0;
    }
    
    .prev-btn:hover img,
    .next-btn:hover img {
        opacity: 1;
    }
    }


@media screen and (max-width: 1000px) {
    body{
        font-size: 2vw;
    }
    .nav {
        position: relative;
        background-color: #171a1f;
        top: 0vh;
        overflow: hidden;
        width: 101%;
        /* text-align: center; */
        height: 104px;
        /* display: flex; */
        /* flex-direction: row; */
    }

    
    .nav a {
    position: relative;
    float: left;
    color: #f2f2f2;
    left: -45vw;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    /* top: 0vh; */
    font-size: 2em;
    }
    
    .nav a:hover {
        background-color: rgb(255, 255, 255);
        color: black;
    }
    
    .nav a.active {
        background-color: black;
        color: white;
    }
    
    .logo {
        font-size: 2em;
        margin: 0.6vh 1vw;
        /* top: 0vh; */
        left: 6vw;
        font-weight: bolder;
        font-family: 'Aleo';
    }

    .topic-box {
        display: flex;
        flex-direction: column;
        position: relative;
        left: 0.5vw;
        width: 100%;
        height: 100vh;
        background: #eef2ff;
        border: solid 1.5px #9aa0b0;
        font-family: Satoshi;
    }

    .comment-section {
        position: relative;
         align-self:flex-start;
        width: 100%;
        height: fit-content;
        margin-top: 1vh;
        border-radius: 1em;
        display: flex;
        flex-direction: column;
    }

    .post {
        position: relative;
        /* top: 20%; */
        top: 19px;
        /* right: 10%; */
        left: 44px;
        height: 2.1em;
        scale: 1.86;
        width: 6%;
        background: #0c111b;
        border: none;
        border-radius: 0.75em;
        font-size: 1.1em;
        font-family: 'Cascadia Mono';
        font-weight: bold;
        color: aliceblue;
    }
    .topic img{
        height: 50%;
        max-height: 29vh;
        width: 85%;
        object-fit: cover;
        margin-top: 1.5vh;
        border-radius: 18px;
    }

    .topic{
        padding: 4vh 6vw;
        /*padding: 4.2vh 6.3vw;*/
    }

    topic p{
        width: 85vw;
    }
    .topic p {
        font-size: 0.7em;
        margin-top: .8vh;
        font-weight: normal;
        font-family: 'Satoshi';
        color: #616977;
    }

    .poll {
        display: flex;
        flex-direction: column;
        /* position: absolute; */
        margin: 1.7vh 0 1vw 0;
        /* bottom: -2vh; */
    }

    .result {
        display: flex;
        width: 49vw;
        position: relative;
        margin-top: 2%;
        /* top: 87%; */
    }
    span.stat {
        width: 10vw;
        height: 0.7vh;
        transition: all .9s;
    }
    .result {
        display: flex;
        width: 49vw;
        position: relative;
        margin-top: 2%;
        /* top: 87%; */
    }



    .poll button {
        margin: 1vw 0.4vh;
        border: none;
        color: #dee4f5;
        border-radius: 0.7vw;
        padding: .8vw .8vh;
        min-width: 9vw;
        max-width: max-content;
        height: 2vh;
        font-family: Satoshi;
        font-size: 1em;
        transition: .3s ease-in-out;
    }

    .topic.topic-full {
        top: 0vh;
        font-size: 0.9em;
        /* margin-top: 80vh; */
        left: 50.5vw;
        transform: translate(-50%,-82%) scale(0);
        border: none;
        height: 94vh;
        /* left: 0; */
        /* top: 0; */
        position: fixed;
        width: 100vw;
        border-radius: 0.5vw;
        z-index: 10;
    }

    .topic img {
        height: 21vh;
        max-height: 29vh;
        width: 95%;
        object-fit: cover;
        margin-top: 1.5vh;
        border-radius: 18px;
    }
    
    
    
    .comment-section h3{
        position: relative;
        top:.5vh;
        font-family: 'Raleway';
        left:2vw;
        font-size:1.6em;
    }
    
    
    
    .comments-input textarea{
        display: block;
        position: relative;
        width: 80%;
        resize: none;
        background: rgb(243 243 243);
        border: 2px solid transparent;
        border-radius: 1.1em;
        outline: none;
        height: fit-content;
        overflow-y: hidden;
        font-family: 'Archivo';
        padding: 1em;
        font-size: 1.3em;
    }
    
    .comments-input textarea:focus{
        border-color:rgb(199, 188, 188);
        transition: 0.5s;
    
    }
    a{
    text-decoration: none;
        color: black;
    }
    .comments{
        position: relative;
        display: flex;
        flex-direction: column;
        width: 41.2em;
        left: 4%;
        top: 4vh;
        height: fit-content;
    }
    
    .comment{
        position: relative;
        background: #F0F2F5;
        max-width:fit-content;
        width:82%;
        max-height: fit-content;
        border-radius: 1em;
        margin:1vh;
        text-align: left;
        padding: .7em 1.2em;
        font-family: 'Montserrat';
        font-weight: 400;
        font-size:large;
        transition: all .5s;
    }
    
    .comment p{
        margin-top: 0.3em;
        margin-bottom: 0.2em;
        line-break:anywhere;
    
    }
    
    .comment a{
        font-weight: 600;
    }
    
    .categories {
        font-size: 1em;
        font-family: Cascadia Mono;
        padding-top: 0.4%;
        top: 1.2vh;
        height: 3vh;
        position: relative;
        width: 100%;
        left: 1vw;
    }

    .nav input[type="text"] {
        border: none;
        position: relative;
        background: rgb(255, 255, 255, 0.8);
        outline: none;
        height: 30px;
        width: 250px;
        color: rgb(255, 6, 6);
        font-size: 16px;
        font-weight: 500;
        transition: 0.5s;
        right: 1%;
        display: block;
        margin-left: 8px 8px;
        border-radius: 1em;
        /* margin-top: 0px; */
        /* margin-bottom: 11px; */
        cursor: text;
        /* margin-right: 2%; */
        /* top: 0vh; */
    
    }
    
    .nav input[type="text"]:focus {
        width: 400px;
        border-radius: yellow;
    }
    
    .img-slider {
        position: relative;
        width: 101vw;
        height: 708px;
        background: #1D212B;
    }
    
    .img-slider .slide {
        z-index: 1;
        position: absolute;
        left: 0vw;
        width: 100%;
        height: 100%;
        clip-path: circle(0% at 0 50%);
        cursor: pointer;
        overflow: hidden;
    }
    
    
    .img-slider .slide.active {
        clip-path: circle(150% at 0 50%);
        transition: 1s;
        transition-property: clip-path;
    }
    
    .img-slider .slide img {
        z-index: 1;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        object-fit: cover;
    }
    
    
    .img-slider .slide .info {
        font-family: 'Archivo';
        position: absolute;
        top: 0;
        width: 50%;
        padding: 30px 30px;
    }
    
    .img-slider .slide .info h2 {
        color: #fff;
        font-size: 45px;
        text-transform: capitalize;
        font-weight: 800;
        letter-spacing: 2px;
    }
    
    .img-slider .slide .info p {
        color: #fff;
        background: rgba(0, 0, 0, 0.1);
        font-size: 16px;
        width: 60%;
        padding: 20px;
        border-radius: 4px;
    }
    
    .img-slider .navigation {
        z-index: 2;
        position: absolute;
        display: flex;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .img-slider .navigation .btn {
        background: rgba(8, 6, 6, 0.6);
        width: 12px;
        height: 12px;
        margin: 10px;
        border-radius: 50%;
        cursor: pointer;
    }
    
    .img-slider .navigation .btn.active {
        background: rgb(245, 0, 0, 0.8);
    }
    
    .title {
        color: #900;
        font-weight: bolder;
        font-family: 'Aleo';
        margin: 3vh;
        font-weight: 700;
        text-shadow: #1D212B;
        font-size: 2em;
    }
    
    .topic-list {
        width: 100%;
        height: 451px;
        position: relative;
        margin: 10px 0 20px 10px;
    }
    
    .card-container {
        position: relative;
        width: 92%;
        padding-left: 10px;
        height: 21vh;
        display: flex;
        margin: 0 auto;
        align-items: center;
        overflow-x: auto;
        overflow-y: visible;
        scroll-behavior: smooth;
    }
    
    .card-container::-webkit-scrollbar {
        display: none;
    }
    
    .card {
        position: relative;
        min-width: 218px;
        width: 28vw;
        height: 19vh;
        border-radius: 1em;
        overflow: hidden;
        margin-right: 10px;
        transition: 0.5s;
        -webkit-box-shadow: -1px 0px 7px -6px rgba(0,0,0,0.44);
        -moz-box-shadow: -1px 0px 7px -6px rgba(0,0,0,0.44);
        box-shadow: -1px 0px 7px -6px rgba(0,0,0,0.44);
    }
    
    .card-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .card:hover {
        width:14vw;
    }
    
    .card:hover .card-body {
        opacity: 1;
    }
    
    .card-body {
        width: 100%;
        height: 40%;
        position: relative;
        bottom: 8vh;
        left: 0;
        z-index: 2;
        background: #1e1e1eb5;
        /* background: linear-gradient(to bottom, rgba(4, 8, 15, 0), #192133 90%); */
        padding: 10px;
        transition: 0.5s;
    }
    
    .name {
        color: #f5f5f5;
        font-family: 'Archivo';
        font-size: 1.1em;
        font-weight: 600;
        text-transform: capitalize;
        /* margin-top: 60%; */
    }
    
    .des {
        color: #fff;
        opacity: 0.8;
        margin: 5px 0;
        font-weight: 500;
        font-size: 12px;
    }
    
    .readmore-btn {
        position: relative;
        width: 100%;
        text-transform: capitalize;
        background: none;
        border: none;
        text-decoration: none;
        font-weight: 500;
        text-align: center;
        color: rgba(255, 255, 255, 0.5);
        margin: 5px 0;
        cursor: pointer;
        padding: 10px 5px;
        border-radius: 5px;
    }
    
    .readmore-btn::before {
        content: "";
        position: absolute;
        top: 0;
        left: -5px;
        height: 35px;
        width: 35px;
        background-size: cover;
        transform: scale(0.4);
    }
    
    .readmore-btn:hover {
        color: #fff;
        background: rgba(255, 255, 255, 0.1);
    }
    
    .title {
        color: #bd0a0a;
        font-weight: bolder;
        text-shadow: #1D212B;
        font-size: 27px;
    }

    .pre-btn,
    .nxt-btn {
        position: absolute;
        top: 0;
        width: 5%;
        height: 100%;
        z-index: 2;
        border: none;
        cursor: pointer;
        outline: none;
    }
    
    .pre-btn {
        left: 0;
        background: linear-gradient(to right, #0c111b 0%, #0c111b00);
    }
    
    .nxt-btn {
        right: 0;
        background: linear-gradient(to left, #0c111b 0%, #0c111b00);
    }
    
    .pre-btn img,
    .nxt-btn img {
        width: 15px;
        height: 20px;
        opacity: 0;
    }
    
    .pre-btn:hover img,
    .nxt-btn:hover img {
        opacity: 1;
    }
    
   
    
    .prev-btn,
    .next-btn {
        position: absolute;
        top: 0;
        width: 5%;
        height: 100%;
        z-index: 2;
        border: none;
        cursor: pointer;
        outline: none;
    }
    
    .prev-btn {
        left: 0;
        background: linear-gradient(to right, #0c111b 0%, #0c111b00);
    }
    
    .next-btn {
        right: 0;
        background: linear-gradient(to left, #0c111b 0%, #0c111b00);
    }
    
    .prev-btn img,
    .next-btn img {
        width: 20px;
        height: 35px;
        opacity: 0;
    }
    
    .prev-btn:hover img,
    .next-btn:hover img {
        opacity: 1;
    }
}

