<!DOCTYPE html>
<html>

<head>
    <title>Respare - Home</title>
    {% load static %}
    <link rel="icon" href="{% static 'images/r.png' %}" type="image/icon type">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />


    {% load static %}
    <script type='text/javascript' src="{% static 'script.js' %}"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
   
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@500;600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aleo:wght@300;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    
</head>

<body>

    <div class="nav">
        <a class="logo" href="/">r.</a>
            {%if user.is_authenticated %}
            <a class="login">Hello, {{user.username}}</a>
            {% endif %}
    </div>
    <div id="off-msg">
        <span>Can't post the comment, Check whether it contains any Offensive words.</span>
    </div>
    <div class="topic-box" id="topic-container">
        
        {% csrf_token %}
        {% csrf_token %}
        {% csrf_token %}
        {% csrf_token %}
        
        
    </div>
    <div id="overlay"></div>
    

    
    


    
    

    
    
    {% load static %}
    <script type='text/javascript' src="{% static 'index.js' %}"></script>


</body>

</html>