{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Create A New User</title>
    
    {% load static %}
    <link rel="icon" href="{% static 'images/r.png' %}" type="image/icon type">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'signup.css' %}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@500;600&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Aleo:wght@300;700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Aleo:ital,wght@1,700&display=swap" rel="stylesheet">
  </head>

  <body>
    <a href="/">Home</a>
    <div class="head">
      <label>Create your</label>
      <h1>respare.</h1></div>

    <!--<div class="background">-->
   
      <form action="" onsubmit="sub(event)" method="post">
        {% csrf_token %}
        <div id="name" class="form-group">
          <div class="div-names">
            <label class="form-control-label">First Name</label>
            <input type="text" onchange="check('fname')" id="fname" name="fname" class="form-control" />
            <small id="fname-req" class="req-text">Required</small>
          </div>
          <div class="div-names">
            <label class="form-control-label">Second Name</label>
            <input type="text" onchange="check('lname')"  id="lname" name="lname" class="form-control" />
            <small id="lname-req" class="req-text">Required</small>
          </div>
        </div>
        <div class="form-group">
          <label class="form-control-label">New User Name</label>
          <div class="checking">
            <input type="text" onchange="unameChange()"  id="uname" name="uname" class="form-control" />
            <button type="button" onclick="check_uname()" class="check-btn">Check</button>
          </div>
          <small id="uname-taken" class="uname-taken">Username already taken</small>
          <small id="uname-avail" class="uname-taken">Username available</small>
          <small id="uname-req" class="req-text">Required</small>
        </div>
        <div class="form-group">
          <label class="form-control-label">Email</label>
          <input type="email" onchange="check('email')"  id="email" name="email" class="form-control" />
          <small id="email-req" class="req-text">Required</small>
        </div>
        <div class="form-group">
          <label class="form-control-label">New Password</label>
          <input type="password" onchange="check_password('pass1')"  id="pass1" name="pass1" class="form-control">
          <small id="pass1-req" class="req-text">Required</small>
          <small id="pass1-check" class="pass-check req-text">Password doesn't match</small>
        </div>
        <div class="form-group">
          <label class="form-control-label">Confirm Password</label>
          <input type="password" onchange="check_password('pass2')"  id="pass2" name="pass2" class="form-control" />
          <small id="pass2-req" class="req-text">Required</small>
          <small id="pass2-check" class="pass-check req-text">Password doesn't match</small>
        </div>
        <div class="login-btm login-button">
          <button type="submit" class="btn btn-outline-primary">SUBMIT</button>
        </div>
        <a class='signin' href="/signin">Already Have An Account?</a>
      </form>
    </div>

    <script src="{% static 'signup.js' %}"></script>
   
  </body>
</html>
