<!DOCTYPE html>
<html>

<head>
  <title>Login</title>

  {% load static %}
  <link rel="icon" href="{% static 'images/r.png' %}" type="image/icon type">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'signin.css' %}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@500;600&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Aleo:wght@300;700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Aleo:ital,wght@1,700&display=swap" rel="stylesheet">
  
</head>

<body>

  <a href="/">Home</a>

  <div class="head">
    <label>Welcome to,</label>
    <h1>respare.</h1></div>
  
      <span id="hi">asda</span>
      <form action="" onsubmit="sub(event)" method="post">
      {% csrf_token %}
       <div class="form-group">
          <label class="form-control-label">Username</label>
           <input type="text" onchange="check('uname')" id="uname"  name="uname" class="form-control">
           <i  aria-hidden="true"></i>
           <small id="uname-req" class="text">Required</small>
      </div>
      <div class="form-group">
          <label class="form-control-label">Password</label>
          <input type="password" onchange="check('pass1')" id="pass1" name="pass1" class="form-control" >
          <i  aria-hidden="true"></i>
           <small id="pass1-req" class="text">Required</small>
      </div>
      <div class="login-btm login-button">
          <button type="submit"  class="btn btn-outline-primary">Submit</button>
          {% if messages %}
            <ul class="messages">
              {% for message in messages %}
            <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
              {% endfor %}
            </ul>
{% endif %}
        </div>
        <div class="register form-control-label"><a href="/register">Dont Have An Account?</a></div>
    </form>
  




   
    <script src="{% static 'signin.js' %}"></script>

  

</body>

</html>