<!DOCTYPE html>
<html>

<head>
    <title>USER </title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styleforuser.css' %}" />

</head>

<body>
    <div class="nav">
        <a class="logo" href="#home">RESPARE</a>
        <div class="categories">
            <a>Categories</a>
            <a>About</a>
            <a class="login" href="logout">Login</a>
            <a class="Profile" href="">Profile</a>
            <div class="rs"></div>
            <input type="text" class="searchbox" placeholder="Search...">
        </div>
    </div>
    </div>
    <br>
    <div class="wrapper">
        <div class="profile">
            <img src="vulture2.jpg" class="image" alt="user">
        </div>
        <div class=details>
            <h3>User name: {{ user.uname }}</h3>
            <br>
            <div class="followers">
                <h3>Followers: 10000</h3>
            </div>
            <div class="following">
                <h3>Following: 250</h3>
            </div>
            </br>
        </div>
        <div class="forbutton">
            <button class="follow">Follow</button>
        </div>
    </div>

    <div class="activity">
        <h2>Activities</h2>


        <div class="section section-3">
            <div class="tag-thumbnail">
                <div class="tag"></div>
            </div>

            <div class="scroll">
                <div class="list">
                    <!--LIST ITEM-->
                    <div class="list-item">
                        <!--PUBG MOBILE LIST IMAGE-->
                        <img src="https://media.discordapp.net/attachments/891262162683715645/891262761231847464/WhatsApp_Image_2021-09-19_at_2.04.11_PM.jpeg?width=739&height=415" alt="" class="list-thumbnail">
                        <!--END PUBG MOBILE LIST IMAGE-->
                        <div class="list-desc">
                            <!--PUBG MOBILE LIST TITLE-->
                            <div class="list-title">BGMI ULTIMATE TOURNAMENT </div>
                            <!--END PUBG MOBILE LIST TITLE-->
                            <div class="list-prize">PRIZE POOL OF 25K
                                <!--PUBG MOBILE PRIZE AMOUNT-->
                                <span></span>
                                <!--END PUBG MOBILE PRIZE AMOUNT-->
                            </div>
                            <div class="list-entry">
                                <div class="list-entry">
                                    <button onclick="location.href='https://kutt.it/ultimatetournament'" class="list-entry-btn">
                    <!--PUBG MOBILE ENTRY AMOUNT-->
                    FREE ENTRY
                    <!--END PUBG MOBILE ENTRY AMOUNT-->
                  </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--END LIST ITEM TOURNAMET-->
                    <!--LIST ITEM-->
                    <div class="list-item">
                        <!--PUBG MOBILE LIST IMAGE-->
                        <img src="https://media.discordapp.net/attachments/891262162683715645/891262761231847464/WhatsApp_Image_2021-09-19_at_2.04.11_PM.jpeg?width=739&height=415" alt="" class="list-thumbnail">
                        <!--END PUBG MOBILE LIST IMAGE-->
                        <div class="list-desc">
                            <!--PUBG MOBILE LIST TITLE-->
                            <div class="list-title">BGMI ULTIMATE TOURNAMENT </div>
                            <!--END PUBG MOBILE LIST TITLE-->
                            <div class="list-prize">PRIZE POOL OF 25K
                                <!--PUBG MOBILE PRIZE AMOUNT-->
                                <span></span>
                                <!--END PUBG MOBILE PRIZE AMOUNT-->
                            </div>
                            <div class="list-entry">
                                <div class="list-entry">
                                    <button onclick="location.href='https://kutt.it/ultimatetournament'" class="list-entry-btn">
                    <!--PUBG MOBILE ENTRY AMOUNT-->
                    FREE ENTRY
                    <!--END PUBG MOBILE ENTRY AMOUNT-->
                  </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--END LIST ITEM TOURNAMET-->
                    <!--LIST ITEM-->
                    <div class="list-item">
                        <!--PUBG MOBILE LIST IMAGE-->
                        <img src="https://media.discordapp.net/attachments/891262162683715645/891262761231847464/WhatsApp_Image_2021-09-19_at_2.04.11_PM.jpeg?width=739&height=415" alt="" class="list-thumbnail">
                        <!--END PUBG MOBILE LIST IMAGE-->
                        <div class="list-desc">
                            <!--PUBG MOBILE LIST TITLE-->
                            <div class="list-title">BGMI ULTIMATE TOURNAMENT </div>
                            <!--END PUBG MOBILE LIST TITLE-->
                            <div class="list-prize">PRIZE POOL OF 25K
                                <!--PUBG MOBILE PRIZE AMOUNT-->
                                <span></span>
                                <!--END PUBG MOBILE PRIZE AMOUNT-->
                            </div>
                            <div class="list-entry">
                                <div class="list-entry">
                                    <button onclick="location.href='https://kutt.it/ultimatetournament'" class="list-entry-btn">
                    <!--PUBG MOBILE ENTRY AMOUNT-->
                    FREE ENTRY
                    <!--END PUBG MOBILE ENTRY AMOUNT-->
                  </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--END LIST ITEM TOURNAMET-->
                    <!--LIST ITEM-->
                    <div class="list-item">
                        <!--PUBG MOBILE LIST IMAGE-->
                        <img src="https://media.discordapp.net/attachments/891262162683715645/891262761231847464/WhatsApp_Image_2021-09-19_at_2.04.11_PM.jpeg?width=739&height=415" alt="" class="list-thumbnail">
                        <!--END PUBG MOBILE LIST IMAGE-->
                        <div class="list-desc">
                            <!--PUBG MOBILE LIST TITLE-->
                            <div class="list-title">BGMI ULTIMATE TOURNAMENT </div>
                            <!--END PUBG MOBILE LIST TITLE-->
                            <div class="list-prize">PRIZE POOL OF 25K
                                <!--PUBG MOBILE PRIZE AMOUNT-->
                                <span></span>
                                <!--END PUBG MOBILE PRIZE AMOUNT-->
                            </div>
                            <div class="list-entry">
                                <div class="list-entry">
                                    <button onclick="location.href='https://kutt.it/ultimatetournament'" class="list-entry-btn">
                    <!--PUBG MOBILE ENTRY AMOUNT-->
                    FREE ENTRY
                    <!--END PUBG MOBILE ENTRY AMOUNT-->
                  </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--END LIST ITEM TOURNAMET-->
                </div>
            </div>
        </div>
    </div>
</body>

</html>